.voting-status {
  margin: 10px;
  float: left;
  width: 90%;
  height: 100%;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
}
